In [1]:
import pandas as pd
import re
import string
from datetime import datetime
import plotly.express as px
import string
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
import inspect
warnings.filterwarnings('ignore')

In [2]:
from my_functions import clean_data, add_zero
print(inspect.getsource(clean_data))

def clean_data(df):

    # Get rid of cancelled flights
    df = df[df['CANCELLED'] == 0]
    df = df[df['ARR_TIME'].notna() & df['ARR_DELAY'].notna()]
    # Deal with NA's
    df.fillna(0, inplace=True)

    # Assign target outcome
    df['target'] = (df['ARR_DELAY'] > 0).astype(int)

    # only keep >750 flights
    origin_counts = df.groupby('ORIGIN').size().reset_index(name='counts')
    df = df.merge(origin_counts, on='ORIGIN', how='left')
    df = df[df['counts']> 750]

    # Convert Time
    df.loc[:, 'DEP_TIME'] = df['DEP_TIME'].astype(int).astype(str)
    df.loc[:,'DEP_TIME'] = df['DEP_TIME'].apply(add_zero)
    df.loc[:,'DEP_TIME'] = df['DEP_TIME'].str.slice(start=0, stop=-2) + ':' + df['DEP_TIME'].str.slice(start=-2)
    df.loc[:,'DEP_TIME'] = df['DEP_TIME'].apply(lambda x: '00' + x[2:] if x.startswith('24') else x)
    df.loc[:,'DEP_TIME'] = pd.to_datetime(df['DEP_TIME'], format='%H:%M').dt.time
    df['DEP_TIME'] = pd.to_datetime(df['DEP_TIME'], format='%H:%M:%S')
    # Cyclical engineering for time
    df['hour'] = df['DEP_TIME'].dt.hour
    df['sin_hour'] = np.sin(2 * np.pi * df['hour'] / 24)
    df['cos_hour'] = np.cos(2 * np.pi * df['hour'] / 24)
    # Cyclical engineering for day of week
    df['sin_day'] = np.sin(2 * np.pi * df['DAY_OF_WEEK'] / 7)
    df['cos_day'] = np.cos(2 * np.pi * df['DAY_OF_WEEK'] / 7)
    return df

In [44]:
##airport = pd.read_csv("./Data/L_AIRPORT.csv")
#state_fips = pd.read_csv("./Data/L_STATE_FIPS.csv")
#wac = pd.read_csv("./Data/L_WORLD_AREA_CODES.csv")
air_jan23 =pd.read_csv("./Data/air_jan23.csv")
air_feb23 = pd.read_csv("./Data/air_feb23.csv")
air_mar23 = pd.read_csv("./Data/air_mar23.csv")
air_apr23 = pd.read_csv("./Data/air_apr23.csv")
air_may23 = pd.read_csv("./Data/air_may23.csv")
air_jun23 = pd.read_csv("./Data/air_jun23.csv")
air_jul23 = pd.read_csv("./Data/air_jul23.csv")
air_aug23 = pd.read_csv("./Data/air_aug23.csv")
air_sep23 = pd.read_csv("./Data/air_sep23.csv")
air_oct23 = pd.read_csv("./Data/air_oct23.csv")
air_nov23 = pd.read_csv("./Data/air_nov23.csv")

In [39]:
air_dec22 = pd.read_csv("./Data/air_dec22.csv")

In [40]:
air_nov23 = clean_data(air_nov23)

In [56]:
air_2023.tail()

,YEAR,QUARTER,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,ORIGIN,ORIGIN_STATE_ABR,ORIGIN_STATE_FIPS,ORIGIN_WAC,...,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,target,hour,sin_hour,cos_hour,sin_day,cos_day,counts
598362,2023,4,11,30,4,11/30/2023 12:00:00 AM,XNA,AR,5,71,...,0.0,0.0,0.0,0,12,1.224647e-16,-1.000000e+00,-0.433884,-0.900969,1052
598363,2023,4,11,30,4,11/30/2023 12:00:00 AM,XNA,AR,5,71,...,0.0,0.0,0.0,0,14,-5.000000e-01,-8.660254e-01,-0.433884,-0.900969,1052
598364,2023,4,11,30,4,11/30/2023 12:00:00 AM,XNA,AR,5,71,...,0.0,0.0,0.0,1,16,-8.660254e-01,-5.000000e-01,-0.433884,-0.900969,1052
598365,2023,4,11,30,4,11/30/2023 12:00:00 AM,XNA,AR,5,71,...,0.0,0.0,0.0,0,18,-1.000000e+00,-1.836970e-16,-0.433884,-0.900969,1052
598366,2023,4,11,30,4,11/30/2023 12:00:00 AM,XNA,AR,5,71,...,0.0,0.0,0.0,1,8,8.660254e-01,-5.000000e-01,-0.433884,-0.900969,1052

In [46]:
air_jan23

,Unnamed: 0,YEAR,QUARTER,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,ORIGIN,ORIGIN_CITY_NAME,ORIGIN_STATE_ABR,...,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,target,hour,sin_hour,cos_hour,sin_day,cos_day,counts
0,12,2023,1,1,1,7,1/1/2023 12:00:00 AM,ABQ,"Albuquerque, NM",NM,...,0.0,0.0,0.0,0,7,9.659258e-01,-2.588190e-01,-2.449294e-16,1.000000,1715
1,13,2023,1,1,1,7,1/1/2023 12:00:00 AM,ABQ,"Albuquerque, NM",NM,...,0.0,0.0,0.0,0,14,-5.000000e-01,-8.660254e-01,-2.449294e-16,1.000000,1715
2,14,2023,1,1,1,7,1/1/2023 12:00:00 AM,ABQ,"Albuquerque, NM",NM,...,0.0,0.0,0.0,0,10,5.000000e-01,-8.660254e-01,-2.449294e-16,1.000000,1715
3,15,2023,1,1,1,7,1/1/2023 12:00:00 AM,ABQ,"Albuquerque, NM",NM,...,0.0,0.0,0.0,0,13,-2.588190e-01,-9.659258e-01,-2.449294e-16,1.000000,1715
4,16,2023,1,1,1,7,1/1/2023 12:00:00 AM,ABQ,"Albuquerque, NM",NM,...,0.0,0.0,76.0,1,18,-1.000000e+00,-1.836970e-16,-2.449294e-16,1.000000,1715
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
511216,561350,2023,1,1,31,2,1/31/2023 12:00:00 AM,XNA,"Fayetteville, AR",AR,...,0.0,0.0,0.0,0,17,-9.659258e-01,-2.588190e-01,9.749279e-01,-0.222521,989
511217,561351,2023,1,1,31,2,1/31/2023 12:00:00 AM,XNA,"Fayetteville, AR",AR,...,12.0,0.0,373.0,1,12,1.224647e-16,-1.000000e+00,9.749279e-01,-0.222521,989
511218,561352,2023,1,1,31,2,1/31/2023 12:00:00 AM,XNA,"Fayetteville, AR",AR,...,0.0,0.0,0.0,0,10,5.000000e-01,-8.660254e-01,9.749279e-01,-0.222521,989
511219,561353,2023,1,1,31,2,1/31/2023 12:00:00 AM,XNA,"Fayetteville, AR",AR,...,20.0,0.0,11.0,1,14,-5.000000e-01,-8.660254e-01,9.749279e-01,-0.222521,989
511220,561354,2023,1,1,31,2,1/31/2023 12:00:00 AM,XNA,"Fayetteville, AR",AR,...,0.0,0.0,20.0,1,18,-1.000000e+00,-1.836970e-16,9.749279e-01,-0.222521,989

In [49]:
air_2023 = pd.concat([air_jan23,air_feb23, air_mar23, air_apr23, air_may23, air_jun23, air_jul23, air_aug23, air_sep23, air_oct23, air_nov23],axis=0, join='inner')

In [53]:
air_2023

,YEAR,QUARTER,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,ORIGIN,ORIGIN_STATE_ABR,ORIGIN_STATE_FIPS,ORIGIN_WAC,...,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,target,hour,sin_hour,cos_hour,sin_day,cos_day,counts
0,2023,1,1,1,7,1/1/2023 12:00:00 AM,ABQ,NM,35,86,...,0.0,0.0,0.0,0,7,9.659258e-01,-2.588190e-01,-2.449294e-16,1.000000,1715
1,2023,1,1,1,7,1/1/2023 12:00:00 AM,ABQ,NM,35,86,...,0.0,0.0,0.0,0,14,-5.000000e-01,-8.660254e-01,-2.449294e-16,1.000000,1715
2,2023,1,1,1,7,1/1/2023 12:00:00 AM,ABQ,NM,35,86,...,0.0,0.0,0.0,0,10,5.000000e-01,-8.660254e-01,-2.449294e-16,1.000000,1715
3,2023,1,1,1,7,1/1/2023 12:00:00 AM,ABQ,NM,35,86,...,0.0,0.0,0.0,0,13,-2.588190e-01,-9.659258e-01,-2.449294e-16,1.000000,1715
4,2023,1,1,1,7,1/1/2023 12:00:00 AM,ABQ,NM,35,86,...,0.0,0.0,76.0,1,18,-1.000000e+00,-1.836970e-16,-2.449294e-16,1.000000,1715
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
598362,2023,4,11,30,4,11/30/2023 12:00:00 AM,XNA,AR,5,71,...,0.0,0.0,0.0,0,12,1.224647e-16,-1.000000e+00,-4.338837e-01,-0.900969,1052
598363,2023,4,11,30,4,11/30/2023 12:00:00 AM,XNA,AR,5,71,...,0.0,0.0,0.0,0,14,-5.000000e-01,-8.660254e-01,-4.338837e-01,-0.900969,1052
598364,2023,4,11,30,4,11/30/2023 12:00:00 AM,XNA,AR,5,71,...,0.0,0.0,0.0,1,16,-8.660254e-01,-5.000000e-01,-4.338837e-01,-0.900969,1052
598365,2023,4,11,30,4,11/30/2023 12:00:00 AM,XNA,AR,5,71,...,0.0,0.0,0.0,0,18,-1.000000e+00,-1.836970e-16,-4.338837e-01,-0.900969,1052
598366,2023,4,11,30,4,11/30/2023 12:00:00 AM,XNA,AR,5,71,...,0.0,0.0,0.0,1,8,8.660254e-01,-5.000000e-01,-4.338837e-01,-0.900969,1052

In [52]:
len(air_jan23)+len(air_feb23)+len(air_mar23)+len(air_apr23)+len(air_may23)+len(air_jun23)+len(air_jul23)+len(air_aug23)+len(air_sep23)+len(air_oct23)+len(air_nov23)

6013171

In [51]:
air_2023.tail()

,YEAR,QUARTER,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,ORIGIN,ORIGIN_STATE_ABR,ORIGIN_STATE_FIPS,ORIGIN_WAC,...,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,target,hour,sin_hour,cos_hour,sin_day,cos_day,counts
598362,2023,4,11,30,4,11/30/2023 12:00:00 AM,XNA,AR,5,71,...,0.0,0.0,0.0,0,12,1.224647e-16,-1.000000e+00,-0.433884,-0.900969,1052
598363,2023,4,11,30,4,11/30/2023 12:00:00 AM,XNA,AR,5,71,...,0.0,0.0,0.0,0,14,-5.000000e-01,-8.660254e-01,-0.433884,-0.900969,1052
598364,2023,4,11,30,4,11/30/2023 12:00:00 AM,XNA,AR,5,71,...,0.0,0.0,0.0,1,16,-8.660254e-01,-5.000000e-01,-0.433884,-0.900969,1052
598365,2023,4,11,30,4,11/30/2023 12:00:00 AM,XNA,AR,5,71,...,0.0,0.0,0.0,0,18,-1.000000e+00,-1.836970e-16,-0.433884,-0.900969,1052
598366,2023,4,11,30,4,11/30/2023 12:00:00 AM,XNA,AR,5,71,...,0.0,0.0,0.0,1,8,8.660254e-01,-5.000000e-01,-0.433884,-0.900969,1052

### Only keep >750 flights

In [51]:
air_jan23.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 511221 entries, 12 to 561354
Data columns (total 48 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   YEAR                 511221 non-null  int64
 1   QUARTER              511221 non-null  int64
 2   MONTH                511221 non-null  int64
 3   DAY_OF_MONTH         511221 non-null  int64
 4   DAY_OF_WEEK          511221 non-null  int64
 5   FL_DATE              511221 non-null  object
 6   ORIGIN               511221 non-null  object
 7   ORIGIN_CITY_NAME     511221 non-null  object
 8   ORIGIN_STATE_ABR     511221 non-null  object
 9   ORIGIN_STATE_FIPS    511221 non-null  int64
 10  ORIGIN_STATE_NM      511221 non-null  object
 11  ORIGIN_WAC           511221 non-null  int64
 12  DEST                 511221 non-null  object
 13  DEST_CITY_NAME       511221 non-null  object
 14  DEST_STATE_ABR       511221 non-null  object
 15  DEST_STATE_FIPS      511221 non-null  int64
 16  DEST_STATE_NM        511221 non-null  object
 17  DEST_WAC             511221 non-null  int64
 18  CRS_DEP_TIME         511221 non-null  int64
 19  DEP_TIME             511221 non-null  object
 20  DEP_DELAY            511221 non-null  float64
 21  DEP_DELAY_NEW        511221 non-null  float64
 22  DEP_DEL15            511221 non-null  float64
 23  CRS_ARR_TIME         511221 non-null  int64
 24  ARR_TIME             511221 non-null  float64
 25  ARR_DELAY            511221 non-null  float64
 26  ARR_DEL15            511221 non-null  float64
 27  CANCELLED            511221 non-null  float64
 28  CANCELLATION_CODE    511221 non-null  int64
 29  DIVERTED             511221 non-null  float64
 30  CRS_ELAPSED_TIME     511221 non-null  float64
 31  ACTUAL_ELAPSED_TIME  511221 non-null  float64
 32  AIR_TIME             511221 non-null  float64
 33  FLIGHTS              511221 non-null  float64
 34  DISTANCE             511221 non-null  float64
 35  DISTANCE_GROUP       511221 non-null  int64
 36  CARRIER_DELAY        511221 non-null  float64
 37  WEATHER_DELAY        511221 non-null  float64
 38  NAS_DELAY            511221 non-null  float64
 39  SECURITY_DELAY       511221 non-null  float64
 40  LATE_AIRCRAFT_DELAY  511221 non-null  float64
 41  target               511221 non-null  int64
 42  hour                 511221 non-null  int64
 43  sin_hour             511221 non-null  float64
 44  cos_hour             511221 non-null  float64
 45  sin_day              511221 non-null  float64
 46  cos_day              511221 non-null  float64
 47  counts               511221 non-null  int64
dtypes: float64(22), int64(16), object(10)
memory usage: 191.1+ MB

### Read to csv

In [47]:
air_feb23.to_csv('./Data/air_feb23.csv')

In [48]:
air_jan23.to_csv('./Data/air_jan23.csv')

In [7]:
air_mar23.to_csv('./Data/air_mar23.csv')

In [12]:
air_apr23.to_csv('./Data/air_apr23.csv')

In [17]:
air_may23.to_csv('./Data/air_may23.csv')

In [21]:
air_jun23.to_csv('./Data/air_jun23.csv')

In [26]:
air_jul23.to_csv('./Data/air_jul23.csv')

In [30]:
air_aug23.to_csv('./Data/air_aug23.csv')

In [34]:
air_sep23.to_csv('./Data/air_sep23.csv')

In [38]:
air_oct23.to_csv('./Data/air_oct23.csv')

In [42]:
air_nov23.to_csv('./Data/air_nov23.csv')

In [54]:
air_2023.to_csv('./Data/air_2023.csv')